[submodule "submodules/abracadabra-money-foundry"]
	path = submodules/abracadabra-money-foundry
	url = https://github.com/Abracadabra-money/abracadabra-money-foundry
[submodule "submodules/v3-core.git"]
	path = submodules/v3-core.git
	url = https://github.com/Uniswap/v3-core.git
[submodule "submodules/v3-core"]
	path = submodules/v3-core
	url = https://github.com/Uniswap/v3-core.git
[submodule "submodules/v3-periphery"]
	path = submodules/v3-periphery
	url = https://github.com/Uniswap/v3-periphery.git
